<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.edu_service.mapper.EduCourseMapper">
<select id="getFinalCourseInfoByCourseId" resultType="com.atguigu.edu_service.entity.vo.CoursePublishVo">
    SELECT
        ec.id AS id,
        ec.title AS title,
        ec.cover AS cover,
        ec.price AS price,
        ec.lesson_num AS lessonNum,
        et.name AS teacherName,
        es1.title AS subjectLevelOne,
        es2.title AS subjectLevelTwo
    From
        edu_course ec
    LEFT JOIN edu_course_description ecd ON ec.id = ecd.id
    LEFT JOIN edu_teacher et ON ec.teacher_id = et.id
    LEFT JOIN edu_subject es1 ON ec.subject_parent_id = es1.id
    LEFT JOIN edu_subject es2  ON ec.subject_id = es2.id
    WHERE ec.id = #{courseId}
</select>
</mapper>
